<div style=" font-family: 'Poppins';">
    <div class="bg additionalTopSection" >
        <div class="flex container ">
            <div style="margin-left:3%;width:40%; float: left;">
                <img style="margin-left:0px;height:50px;width:30px;" src="./assets/logo3.png"/>
            </div>
            <div style="width: 50%; float: right;">
                <span class ="routes"><a class="page-scroll" href="#faqs"> <b>Faq</b> </a></span>
                <span class ="routes"><a class="page-scroll" href="#contact"> <b>Contact</b> </a></span>
                <span class ="routes"><a class="page-scroll" href="#news"> <b>News</b> </a></span>
                <span class ="routes"><a class="page-scroll" href="#pricing"> <b>Courses</b> </a></span>
                <span class ="routes"><a class="page-scroll" href="#timeline"> <b>Timeline</b> </a></span>
                <span class ="routes"><a class="page-scroll" href="#hero"> <b>Home</b> </a></span>
                
            </div>
        </div>
        <div id="home" class="home">
            <div class="boldAndBig">Pre Arrival</div>
            
            <div style="width:35%;margin-top:4%">
                This is something that I am writing on Tuesday because we have a meeting tomorrow
                and we will be changing this with catchy content folks.
            </div>
            
        </div>
    </div>
    <div class="section3">
        <div class="flex">
            <div class="quarterWidth">
                <div  class="secTriInner">{{features[0].one}}</div>
                <div class="secInnerBody">{{features[0].two}}</div>
            </div>
            <div class="quarterWidth">
                <div  class="secTriInner">{{features[1].one}}</div>
                <div class="secInnerBody">{{features[1].two}}</div>

            </div>
            <div class="quarterWidth">
                <div  class="secTriInner">{{features[2].one}}</div>
                <div class="secInnerBody">{{features[2].two}}</div>
            </div>
            <div class="quarterWidth">
                <div  class="secTriInner">{{features[3].one}}</div>
                <div class="secInnerBody">{{features[3].two}}</div>
            </div>
        </div>
    </div>
    <div *ngFor="let blogs of blogDetails" class="container">   
        <div class="boldAndBig">
            {{blogs.subCategory}}
        </div>
        <br>
        <div class="card" (click)="openBlog(blogs)">
            <div>
                <img [src]="blogs.image" height="150px" width="1100px" alt="some issue with loading image">
            </div>
          <div>
            <b>{{blogs.blogTopic}}</b>
          </div> 

          <div class="bodyBox">
            {{blogs.body | shortenText:250}}
          </div>
        <br>   
        </div>
        <br>
        <br><br>
    </div>
</div>
